Procedure	sql_mode	Create Procedure	character_set_client	collation_connection	Database Collation
GetMatchingUsersWithPercentage	STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION	CREATE DEFINER=`admin`@`%` PROCEDURE `GetMatchingUsersWithPercentage`(IN userid INT)\nBEGIN\n   DECLARE userReligion VARCHAR(225);\n\tDECLARE userSex VARCHAR(10);\n    DECLARE userAge INT;\n    DECLARE userHeight INT;\n    DECLARE userWeight INT;\n    DECLARE userComplexion VARCHAR(50);\n    DECLARE userFinancialstatus VARCHAR(255);\n    DECLARE oppositeSex VARCHAR(10);\n    DECLARE userEducation VARCHAR(255);\n    DECLARE userJob VARCHAR(255);\n    DECLARE userCommunity VARCHAR(255);\n    DECLARE physicallyChallenged VARCHAR(255);\n    DECLARE userMaritalStatus VARCHAR(255);\n    DECLARE userDistrict VARCHAR(255);\n    DECLARE userVillage VARCHAR(255);\n\tDECLARE userState VARCHAR(255);\n    \n    SELECT religion.title,gender, TIMESTAMPDIFF(YEAR, STR_TO_DATE(dob, '%d/%m/%Y'), CURDATE()), \n           CAST(SUBSTRING_INDEX(body_height.title, 'cm', 1) AS SIGNED),CAST(SUBSTRING_INDEX(body_weight.title, 'kg', 1) AS SIGNED), complexion.title,\n           financial_status.title,\n           highest_education, profession.title, community.title, is_physically_challenged,\n           marital_status.title, district, village,state\n    INTO userReligion,userSex, userAge, userHeight,userWeight,userComplexion, userFinancialstatus, \n         userEducation, userJob, userCommunity, physicallyChallenged,\n         userMaritalStatus, userDistrict, userVillage,userState\n    FROM registration AS reg\n    INNER JOIN body_features AS body_height ON reg.height_id = body_height.id\n\tINNER JOIN body_features AS body_weight ON reg.weight_id = body_weight.id\n\tINNER JOIN body_features AS complexion ON reg.complexion_id = complexion.id\n    INNER JOIN financial_status ON reg.financial_status_id=financial_status.id\n    INNER JOIN community ON reg.community_id = community.id\n    INNER JOIN profession ON reg.profession_id = profession.id\n    INNER JOIN religion_caste AS religion ON reg.religion_id= religion.id\n    INNER JOIN marital_status ON reg.marital_status_id = marital_status.id\n    LEFT JOIN userfavoriteprofile ufp ON reg.id = ufp.liked_id AND ufp.user_id = userid\n    LEFT JOIN userstaredprofile usp ON reg.id = usp.star_id AND usp.user_id = userid\n    WHERE reg.id = userid\n    AND reg.is_active = 1\n    AND reg.is_deleted = 0\n    AND reg.is_complete = 1;\n    \n    \n    IF userSex = 'male' THEN\n        SET oppositeSex = 'female';\n    ELSE\n        SET oppositeSex = 'male';\n    END IF;\n\n    \n    SELECT reg.id,\n           name,\n           register_number,\n           phone,\n           gender,\n           TIMESTAMPDIFF(YEAR, STR_TO_DATE(reg.dob, '%d/%m/%Y'), CURDATE()) AS age,\n            body_height.title AS height,\n            body_weight.title AS weight,\n            complexion.title AS complexion,\n           financial_status.title AS financial_status,\n           education_type AS education,\n           landline_number,\n           reg.is_active,\n           reg.is_deleted,\n           reg.is_complete,\n           father_name,\n\t\t   country,\n           state,\n           image_path AS profile_picture,\n           highest_education,\n           CASE WHEN ufp.liked_id IS NOT NULL THEN 1 ELSE 0 END AS IsLiked,\n           CASE WHEN usp.star_id IS NOT NULL THEN 1 ELSE 0 END AS IsStarred,\n           usp.id AS starred_id,\n           ufp.id AS favourite_id,\n\t\t   usp.created_on AS starred_created_on,\n           profession.title AS profession,\n           religion.title  AS Religion,\n           community.title AS community,\n           marital_status.title AS maritalstatus,\n           district,\n           village,\n\t\t   reg.created_on,\n          CASE\n                     WHEN userSex = 'male' THEN\n                   CASE\n                       WHEN (userAge - TIMESTAMPDIFF(YEAR, STR_TO_DATE(reg.dob, '%d/%m/%Y'), CURDATE())) BETWEEN 2 AND 8 THEN 25\n                       WHEN (userAge - TIMESTAMPDIFF(YEAR, STR_TO_DATE(reg.dob, '%d/%m/%Y'), CURDATE())) BETWEEN 9 AND 12 THEN 15\n                       WHEN (userAge - TIMESTAMPDIFF(YEAR, STR_TO_DATE(reg.dob, '%d/%m/%Y'), CURDATE())) BETWEEN 13 AND 15 THEN 10\n                       WHEN (userAge - TIMESTAMPDIFF(YEAR, STR_TO_DATE(reg.dob, '%d/%m/%Y'), CURDATE())) <= 1 THEN 15\n                       \n                       ELSE 0\n                   END\n               \n               WHEN userSex = 'female' THEN\n                   CASE\n                       WHEN (TIMESTAMPDIFF(YEAR, STR_TO_DATE(reg.dob, '%d/%m/%Y'), CURDATE()) - userAge) BETWEEN 2 AND 8 THEN 25\n                       WHEN (TIMESTAMPDIFF(YEAR, STR_TO_DATE(reg.dob, '%d/%m/%Y'), CURDATE()) - userAge) BETWEEN 9 AND 12 THEN 15\n                       WHEN (TIMESTAMPDIFF(YEAR, STR_TO_DATE(reg.dob, '%d/%m/%Y'), CURDATE()) - userAge) BETWEEN 13 AND 15 THEN 10\n                       WHEN (TIMESTAMPDIFF(YEAR, STR_TO_DATE(reg.dob, '%d/%m/%Y'), CURDATE()) - userAge) >= 1 THEN 15\n                      \n                       ELSE 0\n                   END\n               ELSE 0\n          END AS age_matching_score,\n\t\t    CASE\n           WHEN userSex = 'male' AND (userAge - TIMESTAMPDIFF(YEAR, STR_TO_DATE(reg.dob, '%d/%m/%Y'), CURDATE())) NOT BETWEEN 2 AND 15 THEN TRUE\n           WHEN userSex = 'female' AND (TIMESTAMPDIFF(YEAR, STR_TO_DATE(reg.dob, '%d/%m/%Y'), CURDATE()) - userAge) NOT BETWEEN 2 AND 15 THEN TRUE\n           ELSE FALSE\n       END AS showlist,\n           CASE\n               WHEN userSex = 'male' AND (userHeight - CAST(SUBSTRING_INDEX( body_height.title, 'cm', 1) AS SIGNED) < 21) AND userHeight > CAST(SUBSTRING_INDEX( body_height.title, 'cm', 1) AS SIGNED) THEN 5\n               WHEN userSex != 'male' AND (CAST(SUBSTRING_INDEX( body_height.title, 'cm', 1) AS SIGNED) - userHeight < 21) AND userHeight < CAST(SUBSTRING_INDEX( body_height.title, 'cm', 1) AS SIGNED) THEN 5\n               ELSE 0\n           END AS height_matching_score,\n            CASE\n               WHEN userSex = 'male' AND (userWeight - CAST(SUBSTRING_INDEX(body_weight.title, 'kg', 1) AS SIGNED) < 31) AND userWeight > CAST(SUBSTRING_INDEX(body_weight.title, 'kg', 1) AS SIGNED) THEN 5\n               WHEN userSex != 'male' AND (CAST(SUBSTRING_INDEX(body_weight.title, 'kg', 1) AS SIGNED) - userWeight < 31) AND userWeight < CAST(SUBSTRING_INDEX(body_weight.title, 'kg', 1) AS SIGNED) THEN 5\n               ELSE 0\n           END AS weight_matching_score,\n             CASE\n             WHEN userComplexion=complexion.title THEN 5\n             ELSE 1\n           END AS complexion_score,\n           CASE\n             WHEN userFinancialstatus=financial_status.title THEN 5\n             ELSE 1\n           END AS financial_status_score,\n            CASE\n             WHEN userCommunity=community.title THEN 5\n             ELSE 1\n           END AS community_score,\n             CASE\n               WHEN userEducation = highest_education THEN 5\n               ELSE 1\n           END AS education_type_matching_score,\n           CASE\n               WHEN physicallyChallenged = is_physically_challenged THEN 5\n               ELSE 0\n           END AS physically_challenged_score,\n           CASE\n               WHEN userJob = profession.title THEN 5\n               ELSE 1\n           END AS profession_matching_score,\n\t\t CASE\n                WHEN userMaritalStatus = 'Never Married' AND marital_status.title = 'Never Married' THEN 15\n                WHEN userMaritalStatus IN ('Widowed/Widower', 'Divorced', 'Awaiting Divorce', 'Nikah Divorce','Nikah') \n                AND marital_status.title IN ('Widowed/Widower', 'Divorced', 'Awaiting Divorce', 'Nikah Divorce','Nikah') THEN 15\n\t\t        ELSE 0\n           END AS maritalstatus_matching_score,\n           CASE\n              WHEN userState = state AND userDistrict = district AND userVillage = village THEN 20\n\t\t\t  WHEN userState = state AND userDistrict = district AND userVillage != village THEN 18\n\t\t\t  WHEN userState = state AND userDistrict != district THEN 8\n\t\t\t  ELSE 4\n           END AS location_matching_score,\n           (\n             CASE\n                      WHEN userSex = 'male' THEN\n                   CASE\n                       WHEN (userAge - TIMESTAMPDIFF(YEAR, STR_TO_DATE(reg.dob, '%d/%m/%Y'), CURDATE())) BETWEEN 2 AND 8 THEN 25\n                       WHEN (userAge - TIMESTAMPDIFF(YEAR, STR_TO_DATE(reg.dob, '%d/%m/%Y'), CURDATE())) BETWEEN 9 AND 12 THEN 15\n                       WHEN (userAge - TIMESTAMPDIFF(YEAR, STR_TO_DATE(reg.dob, '%d/%m/%Y'), CURDATE())) BETWEEN 13 AND 15 THEN 10\n                       WHEN (userAge - TIMESTAMPDIFF(YEAR, STR_TO_DATE(reg.dob, '%d/%m/%Y'), CURDATE())) <= 1 THEN 15\n                       \n                       ELSE 0\n                   END\n               \n                    WHEN userSex = 'female' THEN\n                   CASE\n                       WHEN (TIMESTAMPDIFF(YEAR, STR_TO_DATE(reg.dob, '%d/%m/%Y'), CURDATE()) - userAge) BETWEEN 2 AND 8 THEN 25\n                       WHEN (TIMESTAMPDIFF(YEAR, STR_TO_DATE(reg.dob, '%d/%m/%Y'), CURDATE()) - userAge) BETWEEN 9 AND 12 THEN 15\n                       WHEN (TIMESTAMPDIFF(YEAR, STR_TO_DATE(reg.dob, '%d/%m/%Y'), CURDATE()) - userAge) BETWEEN 13 AND 15 THEN 10\n                       WHEN (TIMESTAMPDIFF(YEAR, STR_TO_DATE(reg.dob, '%d/%m/%Y'), CURDATE()) - userAge) >=1 THEN 15\n                       \n                       ELSE 0\n                   END\n              END +\n               CASE\n                   WHEN userSex = 'male' AND (userHeight - CAST(SUBSTRING_INDEX(body_height.title, 'cm', 1) AS SIGNED) < 21) AND userHeight > CAST(SUBSTRING_INDEX(body_height.title, 'cm', 1) AS SIGNED) THEN 5\n                   WHEN userSex != 'male' AND (CAST(SUBSTRING_INDEX(body_height.title, 'cm', 1) AS SIGNED) - userHeight < 21) AND userHeight < CAST(SUBSTRING_INDEX(body_height.title, 'cm', 1) AS SIGNED) THEN 5\n                   ELSE 0\n               END +\n                CASE\n               WHEN userSex = 'male' AND (userWeight - CAST(SUBSTRING_INDEX(body_weight.title, 'kg', 1) AS SIGNED) < 31) AND userWeight > CAST(SUBSTRING_INDEX(body_weight.title, 'kg', 1) AS SIGNED) THEN 5\n               WHEN userSex != 'male' AND (CAST(SUBSTRING_INDEX(body_weight.title, 'kg', 1) AS SIGNED) - userWeight < 31) AND userWeight < CAST(SUBSTRING_INDEX(body_weight.title, 'kg', 1) AS SIGNED) THEN 5\n               ELSE 0\n           END+\n            CASE\n             WHEN userComplexion=complexion.title THEN 5\n             ELSE 1\n             END+\n               CASE\n                     WHEN userFinancialstatus=financial_status.title THEN 5\n                     ELSE 1\n               END +\n\t\t\t   CASE\n                     WHEN userCommunity=community.title THEN 5\n                     ELSE 1\n               END +\n                CASE\n               WHEN physicallyChallenged = is_physically_challenged THEN 5\n               ELSE 0\n              END+\n               CASE\n                   WHEN userEducation = highest_education THEN 5\n                   ELSE 1\n               END +\n               CASE\n                   WHEN userJob = profession.title THEN 5\n                   ELSE 1\n               END +\n\t\t\t   CASE\n                WHEN userMaritalStatus = 'Never Married' AND marital_status.title = 'Never Married' THEN 15\n                WHEN userMaritalStatus IN ('Widowed/Widower', 'Divorced', 'Awaiting Divorce', 'Nikah Divorce','Nikah') \n                AND marital_status.title IN ('Widowed/Widower', 'Divorced', 'Awaiting Divorce', 'Nikah Divorce','Nikah') THEN 15\n\t\t        ELSE 0\n               END +\n               CASE\n\t\t\t\t   WHEN userState = state AND userDistrict = district AND userVillage = village THEN 20\n                   WHEN userState = state AND userDistrict = district AND userVillage != village THEN 18\n                   WHEN userState = state AND userDistrict != district THEN 8\n                   ELSE 4\n               END\n           ) AS total_matching_score\n    FROM registration AS reg\n\tINNER JOIN body_features AS body_height ON reg.height_id = body_height.id\n\tINNER JOIN body_features AS body_weight ON reg.weight_id = body_weight.id\n\tINNER JOIN body_features AS complexion ON reg.complexion_id = complexion.id\n\tINNER JOIN financial_status ON reg.financial_status_id=financial_status.id\n    INNER JOIN community ON reg.community_id = community.id\n    INNER JOIN profession ON reg.profession_id = profession.id\n\tINNER JOIN religion_caste AS religion ON reg.religion_id= religion.id\n    INNER JOIN marital_status ON reg.marital_status_id = marital_status.id\n    LEFT JOIN userfavoriteprofile ufp ON reg.id = ufp.liked_id AND ufp.user_id = userid\n    LEFT JOIN userstaredprofile usp ON reg.id = usp.star_id AND usp.user_id = userid\n    WHERE gender = oppositeSex\n    AND reg.is_active = 1\n    AND reg.is_deleted = 0\n    AND reg.is_complete = 1\n\tAND religion.title = userReligion \n\tHAVING total_matching_score > 59\n\tAND showlist = FALSE\n    ORDER BY total_matching_score DESC,  reg.created_on DESC;\nEND	utf8mb4	utf8mb4_0900_ai_ci	utf8mb4_0900_ai_ci
