<!DOCTYPE html>
<html>

<body>
    <p>Dear [User's Name],</p>

    <p>Congratulations!</p>

    <p>Your profile registration on M4Nikah has been successfully completed. We’re excited to have you on board and look forward to helping you connect with potential matches.</p>

    <p>Your Profile ID: [Profile ID]</p>

    <p>To get started, you can log in to your account and start exploring our features. If you need any assistance or have any questions, feel free to reach out to our support team.</p>

    <p>Thank you for choosing M4Nikah. We wish you the best of luck in finding your perfect match!</p>

    <p>Warm regards,</p>
    <p>The M4Nikah Team</p>

    <h3>Contact Us:</h3>
    <p>Email: <a href="mailto:info@m4nikah.com">info@m4nikah.com</a></p>
    <p>Phone: <a href="tel:+916238785898">+91 6238785898</a></p>
    <p>Website: <a href="https://m4nikah.com/">https://m4nikah.com/</a></p>
</body>
</html>