<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Recovery</title>
</head>
<body>
    <p>Dear [User's Name],</p>
    <p>We received a request to reset your password for your M4Nikah account.</p>
    <p>Your password is: [Password]</p>
    <p>For security reasons, we recommend changing your password to something more secure as soon as you log in. If you did not request a password reset, please ignore this email.</p>
    <p>Thank you for using M4Nikah. If you need any further assistance, feel free to contact our support team.</p>
    <p>Warm regards,</p>
    <p>The M4Nikah Team</p>
    <p>Contact Us:</p>
    <p>
        Email: <a href="mailto:info@m4nikah.com">info@m4nikah.com</a><br>
        Phone: +91 6238785898<br>
        Website: <a href="https://m4nikah.com/" target="_blank">https://m4nikah.com/</a>
    </p>
</body>
</html>
